@font-face {
  font-family: "iA Writer Quattro";
  font-weight: normal;
  font-style: normal;
  src: url("iAWriterQuattroS-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "iA Writer Quattro";
  font-weight: bold;
  font-style: bold;
  src: url("iAWriterQuattroS-Bold.woff2") format("woff2");
}

